/* Title Work */
#titletag {
    text-align: center;
    position: sticky;
    margin: 8px;
    padding: 8px;
    top: 0;
    border: #495fa6;
    border-style: solid;
    text-align: center;
    text-decoration: wavy;
}

#navlistul {
    list-style-type: none;
    margin: 0;
    padding: 8px;
    top: 0;
    text-align: center;
    background-color: #495fa6;
    position: sticky;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#logoheader {
    height: 75px;
    width: 200px;
}

/*  Body Work */

body {
    padding: auto;
    margin: auto;
    overflow: auto;

}

body::after {
    content: "";
    background: url("img/pool.jpg") no-repeat;
    background-size: cover;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

#contactustext {
    font-size: large;
}


#textcolor {
    font-size:x-large;
    color: #495fa6;
}

#logo {
    text-align: center;
    margin: 2%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 2%;
    top: 0;
    border: #495fa6;
    border-style: none;
    text-align: center;
}

#logoimg {
    border-radius: 10%;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#titlebox {
    text-align: center;
    position: sticky;
    margin: 2%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 2%;
    top: 0;
    /*border: #495fa6;
    border-style:none;*/
    text-align: center;
}

#box {
    text-align: center;
    margin: 7%;
    padding: 10%;
    top: 0;
    border: #495fa6;
    border-style: solid;
}
/* Product Page Work */
#productbox {
    margin: 5%;
    padding: 5%;
    border: #495fa6;
    border-style: solid;
    width:fit-content;
    display: flex;
}

#productdesc {
    float: right;
    text-align: right;
    clear: right;
    margin-left: auto;
}

#productpic {
    border-radius: 10%;
    height: 30%;
    width: 30%;
    float: left;
}

#contactusbutton {
    color: white;
    background-color: #495fa6;
    padding: 20px;
    text-align: center;
    font-size: large;
}

/* Gallery Work */

#gallery {
    margin: auto;
    width: 100%;
}
#galleryimg {
    width: 100%;
    height: auto;
    display: inline-block;
}
/* Footer Work */
#footer {
    margin: 0;
    padding: 8px;
    text-align: center;
    background-color: #495fa6; 
    position: relative; /* 2/9: Fixed footer following */
    bottom: 0;
    left: 0;
    right: 0;
}

#footertext {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}